%noteStyles
  color: rgb(55, 125, 255)
  background-color: rgba(55, 125, 255, 0.1)
  font-size: 11px
  padding: 7px 15px
  text-align: center
  border-radius: 6.1875rem

@mixin flexContainer($jc: center, $ai: center, $fd: row, $gap: 0px)
  display: flex
  justify-content: $jc
  align-items: $ai
  flex-direction: $fd
  gap: $gap
  
@mixin button($br: 99px)
  box-sizing: border-box
  transition: all 0.2s ease-in-out
  margin: 5px 0 0
  border-radius: 99px
  background-color: rgb(55, 125, 255)
  color: rgb(255, 255, 255)
  padding: 12px 16px
  border-radius: $br
  text-decoration: none

  &:hover 
    margin: 0 0 5px
    box-shadow: rgba(55, 125, 255, 0.5) 0px 5px 15px 

  @media screen and (max-width: 480px)
    padding: 12px auto
    width: 100%

.container, .greyContainer
  padding:  80px 85px
 
  @media screen and (max-width: 1024px)
    padding: 80px 10px 
  
  h1
    font-weight: 500
    font-size: 40px
    margin-bottom: 10px

  h2
    font-size: 32px
    
  h3
    font-size: 24px

  p
    font-size: 16px
    color: #77838F
    line-height: 27.2px

.greyContainer
  border-top: 1px solid #e5e7eb
  border-bottom: 1px solid #e5e7eb

.banerSection
  @include flexContainer(space-around)
  
  margin-bottom: 64px
  .baner
    @include flexContainer($ai: flex-start, $fd: column, $gap: 20px)
    
    max-width: 40%

    @media screen and (max-width: 768px)
      max-width: 100%
      text-align: center
      align-items: center

    .banerNote
      @extend %noteStyles
    
    .button
      @include button
      @include flexContainer

      .play
        padding-right:10px
      
  .banerImg
    height: 350px
    object-fit: contain

    @media screen and (max-width: 768px)
      display: none

.servicesSection
  .services
    @include flexContainer($fd: column, $gap: 8px)
    
    max-width: 700px
    margin: 0 auto 64px auto
    text-align: center

    small
      @extend %noteStyles


  .cardContainer
    @include flexContainer($gap: 10px, $ai: stretch)

    @media screen and (max-width: 768px)
      flex-direction: column
      align-items: center

    .card
      @include flexContainer($fd: column, $gap: 15px)

      border: 1px solid #e5e7eb
      border-radius: 5px
      padding: 64px 16px
      max-width: 360px

      text-align: center

      img
        height: 75px
      
      p
        margin-bottom: auto

      a
        @include button($br: 5px)


.namingContestsSection
  @include flexContainer($fd: column, $gap: 60px)

  .namingContests
    @include flexContainer($fd: column, $gap: 20px)
    
    img
      width: 72px
      height: 72px
      
  .namingContestsGrid
    @include flexContainer($gap: 60px)

    @media screen and (max-width: 1000px)
      flex-direction: column-reverse

    .namingImgGrid
      width: 40%
      @media screen and (max-width: 1000px)
        width: 100%

    .namingList
      list-style: none
      display: grid
      gap:20px
      grid-template-rows: repeat(4, 1fr)
      counter-reset: my-counter
      
      li 
        @include flexContainer($jc:flex-start, $gap: 15px)

        padding: 32px
        border: 1px solid #e5e7eb
        border-radius: 5px
        counter-increment: my-count

      li::before 
        content: counter(my-count) ". "
        color: #377dff
        font-size: 56px
        font-weight: bold
  
.contestStartSection
  @include flexContainer($fd: column, $gap: 20px)
  position: relative
  text-align: center
  padding: 32px 15px
  background: rgb(43,35,142)
  background: linear-gradient(120deg, rgba(43,35,142,1) 10%, rgba(32,115,213,1) 76%, rgba(28,142,238,1) 100%)
  
  .title
    z-index: 1
    font-size: 32px
    font-weight: 500
    color: #00dffc
    
  .text
    font-size: 18px
    z-index: 1
    color: white
  
  .link
    z-index: 1
    box-sizing: border-box
    padding: 15px 20px
    color: black
    text-decoration: none
    background-color: white
    border-radius: 0.2rem
  
  .bgFirstImg
    z-index: 0
    position: absolute
    top: 0
    height: 70%
    left: 0
  .bgSecondImg
    z-index: 0
    position: absolute
    bottom: 0
    right: 0
    height: 70%

.statisticSection
  margin: 50px 0

  .statisticList
    @include flexContainer($jc: space-evenly, $gap:40px)
    
    @media screen and (max-width: 700px)
      flex-direction: column

    li
      @include flexContainer($fd: column, $gap: 20px)
      text-align: center
      max-width: 220px
      
      img
        height: 100px
        
      span
        font-weight: 600
        color: black
        margin: 0 5px

.factSection
  @include flexContainer
  padding: 0 20px
  margin: 100px 0
  @media screen and (max-width: 900px)
    padding: 0 5px
    flex-direction: column

  .facts
    @include flexContainer($fd: column, $gap: 40px)
    box-sizing: border-box
    width: 600px
    padding: 64px
    background-color: white
    font-size: 20px
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
    @media screen and (max-width: 900px)
      width: 100%
    .arrow
      @include flexContainer($ai: flex-start, $gap: 40px)
      &:first-child
        padding-bottom: 20px
        border-bottom: 1px solid #e5e7eb

      &::before
        content: '>'
        color: #377dff
        background-color: rgba(55, 125, 255, 0.1)
        font-size: 24px
        padding: 6px 10px
        border-radius: 100%

    .fact
      @include flexContainer($fd: column, $ai: flex-start, $gap: 10px)
      a
        text-decoration: none
        margin-left: 5px 
        color: #377dff


        

  .questions
    @include flexContainer($fd: column, $ai: flex-start, $gap: 20px)
    box-sizing: border-box
    width: 500px
    padding: 64px
    font-size: 20px
    color: white
    background-color: #377dff
    @media screen and (max-width: 900px)
      width: 100%
    h4
      font-size: 28px
      font-weight: 500
    p
      color: white
    
    .callConsultation
      background-color: white
      color: #377dff
      font-weight: 400
      text-decoration: none
      padding: 20px
      border-radius: 100px

    .telephoneConsultation
      text-decoration: none
      color: white
      i
        margin-right: 5px 

.featuredInSection
  @include flexContainer
  margin:40px 48px

  @media screen and (max-width: 900px)
    margin:40px 5px
    flex-wrap: wrap

  .title
    font-size: 28px
    margin-right: 48px
    white-space: nowrap
    margin-bottom: 10px
  
  .clientsList
    @include flexContainer($ai:flex-start , $gap: 20px)
    flex-wrap: wrap
    padding-top: 20px 
    border-top: 1px solid #e5e7eb
    img
      width: 100px





// .grid-container {
//   
// }

// .grid-container img {
//   width: 100%;
//   height: auto;
// }

// .grid-container ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

// .grid-container li {
//   margin-bottom: 10px;
// }

// @media (max-width: 1000px) {
//   .grid-container {
//     grid-template-columns: 1fr;
//   }
// }